$gap: 16px;

.bodyWrapper {
  // height: 100%;
  // width: 100%;
  // overflow: auto;
  overflow: scroll;
  padding: 0 16px;
  background-color: var(
    --tg-theme-secondary-bg-color,
    var(--yy-background-default)
  );
}
