$gap: 16px;

.bodyWrapper {
  height: 100%;
  width: 100%;
  overflow: auto;
  padding: 0 8px;
  background-color: var(--tg-theme-bg-color, var(--yy-background-default));
}

.header {
  padding: 12px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
