.container {
  margin-top: 20px;
  background-color: var(--tg-theme-section-bg-color, #fff);
  padding: 16px;
  border-radius: 20px;
  position: relative;
}

.icon {
  position: absolute;
  top: 0;
  left: 85%;
}

.eventBlock {
  background-color: var(--tg-theme-secondary-bg-color, #f4f4f4);
  padding: 8px;
  border-radius: 20px;
  display: flex;
  margin-top: 8px;
}

.eventInfo {
  margin-left: 16px;
}

.price {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 6px;
}

.place {
  font-size: 12px;
}

.date {
  color: var(--tg-theme-hint-color, #848484);
}

.eventImg {
  width: 100px;
  height: 100px;
  border-radius: 20px;
}

.button {
  width: 100%;
  margin-top: 10px;
  // background: var(--tg-theme-button-color, #a71919);
  // color: var(--tg-theme-button-text-color, #fff);
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.subtitle {
  font-size: 16px;
  color: var(--tg-theme-hint-color, #000000);
}
