@import "../../../assets/styles/variables.scss";

//slider
.sliderWrap {
  margin-top: 20px;
  background-color: var(
    --tg-theme-section-bg-color,
    var(--yy-background-section)
  );
  border-radius: 20px;
  padding: 10px;
  overflow-x: hidden; /* Hide the scrollbar */
}

.image {
  width: auto;
  height: 140px;
  width: 140px;
  border-radius: 20px;
}

.test {
  margin-right: 10px;
  width: 100%;
}

.scrollContainer {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch; /* Enable momentum scrolling on iOS */
  scrollbar-width: none; /* Firefox */
}

.scrollContainer::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

.scrollItem {
  display: inline-block;
  width: 200px;
  height: 150px;
  margin: 10px;
  background-color: #ccc;
  border: 1px solid #999;
  text-align: center;
  line-height: 150px; /* Center text vertically */
}
