.mobileContainer {
  border-radius: 20px;
  padding: 12px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(
    --tg-theme-section-bg-color,
    var(--yy-background-section)
  );
}

// localities
.localitiesContainer {
  padding: 0 12px;
}

.localities {
  margin-top: 12px;
  overflow: scroll;
}

.test {
  width: 10%;
}

.test2 {
  width: 90%;
}
.localitiesDistrict {
  color: var(--yy-grey-500);
  font-size: 10px;
}

.locality {
  display: flex;
  align-items: center;
  padding: 12px 0;
  border-bottom: 1px solid var(--yy-grey-300);
}

.localityDescription {
  margin-left: 12px;
}

//НЕТ переменной
.darkThemeContainer {
  background: var(red) !important;
}

.line {
  width: 100%;
  height: 3px;
  background: red;
  // border: 1px solid var(--yy-grey-300);
}

.localityWrap {
  padding: 6px 6px;
  color: var(--yy-grey-500);
  margin: 6px 0;
}

.localityWrapError {
  background: var(--yy-error-light);
  border-radius: 2px;
}

.localityName {
  color: var(--yy-text-primary);
  font-size: 16px;
  font-weight: bold;
}

.notMarkedLocalityName {
  font-size: 16px;
  font-weight: bold;
}
// --- //

.loaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.button {
  margin-top: 12px;
}

.testWrap {
  display: flex;
  font-size: 16px;
  font-weight: bold;
}
