@import "../../assets/styles/variables.scss";

//FIXME: color
.page {
  width: 100%;
  // background: #232323;
  background-color: var(
    --tg-theme-secondary-bg-color,
    var(--yy-background-paper)
  );
  padding: 0 8px;
  // padding-top: 32px;
  padding-bottom: 16px;
  border-radius: 20px;
}

.mobile {
  width: 100%;
}

/* Стили для десктопа (ширина экрана больше 1024 пикселей) */
@media screen and (min-width: #{$desktop-breakpoint}) {
  .desktop {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .mobile {
    display: none;
  }
}

/* Стили для мобильных устройств (ширина экрана 1024 пикселя и меньше) */
@media (max-width: #{$desktop-breakpoint}) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }
}
