@import "../../assets/styles/variables.scss";

//HEADER
.header {
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 24px;
}

.iconWrap {
  display: flex;
  padding: 10px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(
    --tg-theme-secondary-bg-color,
    var(--yy-background-paper)
  );
}
// ______

.qwer {
  position: relative;
  margin-top: 20px;
  background-color: #000;
  border-radius: 20px;
  overflow: hidden;
}

.loup {
  width: 160px;
  height: 160px;
}
