.container {
  position: relative;
  margin-top: 32px;
  margin-bottom: 32px;
  background-color: #000;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.loup {
  width: auto;
  height: 182px;
}

.content {
  padding: 16px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  line-height: 1.1;
}

.description {
  font-size: 12px;
  margin: 12px 0;
  color: #fff;
}

//DIALOG
.formWrap {
  padding: 32px 16px;
}

.appBar {
  background-color: var(
    --tg-theme-secondary-bg-color,
    var(--yy-background-paper)
  );
  color: var(--tg-theme-text-color, var(--yy-text-primary));
}

.inputWrap {
  margin-bottom: 16px;
}

.testInput {
  border-radius: 4px;
  width: 100%;

  input {
    padding: 8.5px 14px;
  }
}
