.page {
  margin-bottom: 40px;
  min-height: 100vh;
}

.searchForm {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 24px;
}

.list {
  flex: 1;
  width: 100%;
  max-width: 420px;
  margin-top: 40px;
}
