.order {
  display: flex;
  padding: 16px;
  margin-bottom: 16px;
  flex-wrap: nowrap;
  border-radius: 24px;

  &:last-child {
    margin-bottom: 0;
  }
}

.columnLeft {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 100%;
  margin-right: 8px;
  width: 70%;
}

.columnRight {
  text-align: right;
  width: 30%;
}

.orderTitle {
  margin-bottom: 12px;
  max-width: 100%;
  word-break: break-word;
  font-size: 18px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.orderPrice {
  font-size: 24px;
  font-weight: bold;
}

.phoneContainer {
  display: flex;
  align-items: center;
}
.orderPhone {
  font-size: 14px;
  width: fit-content;
  margin-right: 16px;
  white-space: nowrap;

  &:last-child {
    margin-bottom: 0;
  }
}

.skeleton {
  margin-bottom: 16px;
}

.phones {
  display: inline-flex;
  max-width: 156px;
  flex-direction: column;
}
